<%= @places.each do |place| %>
  <div> 
    <h1><%= place.name %></h1>
    <i><%= place.address %></i>
    <br />
    <p><%= place.phone_number %></p>
    <p><%= place.description %></p> 
  </div>
  <br />
  <hr />

<% end %>    
     