
<h1>Welcome to Nativ</h1>
<%= @places.each do |place| %>
  <div> 
    <h1><%= place.name %></h1>
    <i><%= place.address %></i>
    <br />
    <i><%= place.phone_number %></i>
    <p><%= place.description %></p> 
  </div>
  <br />
  <hr />

<% end %>    
  



