<!DOCTYPE html>	
<html>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
 $(document).ready(function() {
      $('#stateId').click(function(data) { 
          console.log(data)
        });
        });
      $('#cityId').click(function(data) { 
          console.log(data)
    }); 
</script>
</head>



<body>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg', class: 'd-block img-fluid' %>     
    </div>
    <div class="carousel-item">
      <%= image_tag 'johnny-martinez-lBIFDzYwbDo-unsplash.jpg', class: 'd-block img-fluid' %>     
    </div>
    <div class="carousel-item">
      <%= image_tag 'bodie-pyndus-JXqMjodZ0uM-unsplash.jpg', class: 'd-block img-fluid' %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="search-sec">
  <div class="container">
    <form action="/search" method="gets" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="hidden" name="country" id="countryId" value="US"/>
                <select name="state" class="states order-alpha, form-control search-slt" id="stateId">
                  <option value="">Select State</option>
                </select>
              </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <select name="city" class="cities order-alpha, form-control search-slt" id="cityId">
                <option value="">Select City</option>
                <%= form_tag(search_path, :method => "get") do %>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <select class="form-control search-slt" id="exampleFormControlSelect1">
                <option>Cuisine</option>
                <option>Chinese</option>
                <option>Indian</option>
                <option>Thai</option>
                <option>American</option>
                <option>Example one</option>
                <option>Example one</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <%= button_tag "Search", :class => "btn btn-danger wrn-btn", :name => nil%>
            </div>
            <div class="dd-title col-10 offset-3">                  
              <ul id="match_location"></ul>
            </div>
            <div class="drop-down col-10 offset-4">
              <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
              <script src="//geodata.solutions/includes/statecity.js"></script>
              <script src="/jQuery/dist/jquery.js"></script>
              <script src="/javascripts/main.js"></script>
            </div>
            <%end%>
          </div>
       </div>
      </div>
    </form>
  </div>
</section>

<div class="container mt-5">
<% @places.each do |place| %>
<div class="card-deck">
  <div class="card" style="max-width: 18rem;">
  <div class="card-body">
    <h5><%= link_to place.name, place_path(place) %></h5><br />
    <% if place.image.url.present? %>
      <%=image_tag place.image.url, class: "card-img-top" %>
    <% end %>
    <br /><br />
    <p><%= place.address %></p>
    <p><%= place.phone_number %></p><br />
    <p><%= place.description %></p><br />
    <%= link_to 'More', place_path(place), class: 'btn btn-primary' %>
    <br /><br />
    <% if current_user %>
      <%= render partial: "index_favorites/button", locals: {place: place} %>
    <% end %>
  </div>

  <% if place.comments.present? %>
        <div class="col-12 col-sm-6">
          <blockquote>
          <%= place.comments.last.message %>
          <!-- <small><%= place.comments.last.user.email %></small>  -->
          </blockquote>
        </div>
      <% end %>
    </div>
  <% end %>
<br />

</body>
