<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Eat more plants</h3>
      </div>     
    </div>
    <div class="carousel-item">
      <%= image_tag 'johnny-martinez-lBIFDzYwbDo-unsplash.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Find vegan friendly options in Nashville</h3>
      </div>     
    </div>
    <div class="carousel-item">
      <%= image_tag 'bodie-pyndus-JXqMjodZ0uM-unsplash.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Do not see your favorite? Share it!</h3>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

 
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= place.name %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
    <p><%= place.phone_number %></p>
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
    

  </div>
<% end %>
<br/><br/>


