<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Eat more plants</h3>
      </div>     
    </div>
    <div class="carousel-item">
      <%= image_tag 'johnny-martinez-lBIFDzYwbDo-unsplash.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Find vegan friendly options in Nashville</h3>
      </div>     
    </div>
    <div class="carousel-item">
      <%= image_tag 'bodie-pyndus-JXqMjodZ0uM-unsplash.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Do not see your favorite? Share it!</h3>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</ br>
<section class="search-sec">
 <div class="container">
     <form action="#" method="post" novalidate="novalidate">
         <div class="row">
             <div class="col-lg-12">
              <h2><strong>Find more loations throughout the U.S.</strong></h2> <br/>
               <div class="row">
                 <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <input type="hidden" name="country" id="countryId" value="US"/>
                      <select name="state" class="states order-alpha, form-control" id="stateId">
                        <option value="">Select State</option>
                      </select>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select name="city" class="cities order-alpha, form-control" id="cityId">
                          <option value="">Select City</option>
                        </select>
                       </div>
                       <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                         <select class="form-control search-slt" id="exampleFormControlSelect1">
                              <option>Food Option Placeholder</option>
                              <option>Vegan</option>
                              <option>GMO-Free</option>
                              <option>Vegetarian</option>
                              <option>Example one</option>
                              <option>Example one</option>
                              <option>Example one</option>
                          </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <button  id="button1" type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                      </div>
                       </div>
                   </div>
               </div>
           </div>
       </form>
   </div>
</section>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h5><%= link_to place.name, place_path(place) %></h5><br />
    <% if current_user %>
      <%= render partial: "index_favorites/button", locals: {place: place} %>
    <% end %>
    <% if place.image.url.present? %>
      <%=image_tag place.image.url%>
    <% end %>
    <br /><br />
    <p><%= place.address %></p> 
    <p><%= place.phone_number %></p><br />
    <p><%= place.description %></p><br   
    <% if place.user.present? %>
    <% end %>
    

  <% if place.comments.present? %>
      <div class="col-12 col-sm-6">
        <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
        <b><%= place.comments.last.humanized_rating %></b> 
        <% end %>
        <%= place.comments.last.message %>
        <!-- <small><%= place.comments.last.user.email %></small>  -->
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
<br />

<script>
 $(document).ready(function() {
      $('#stateId').click(function(data) { 
          console.log(data)
        });
        });
      $('#cityId').click(function(data) { 
          console.log(data)
    }); 
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="//geodata.solutions/includes/statecity.js"></script>
</body>
 

