<br />
<h1> Add a Nativ hotspot!</h1>
<br />
<br />
<div class="booyah-box col-10 offset-1">
    <%= simple_form_for @place do |f| %>
    <br />
    <br />
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :image %>
    <br />
    <%= f.label :catergory_id, as: :check_boxes %>
    <br /><br>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
  </div>
