<div class="booyah-box col-10 offset-1">
  <br />
  <h1><%=  @place.name %></h1><br />
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

</div>


<%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
  <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
<% end %>

<% @place.comments.each do |comment| %>
  <div>
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
      <small><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>