<div class="booyah-box col-10 offset-1">
  <br />
  <h1><%=  @place.name %></h1><br />
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

</div>


<%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating %>
  <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
<% end %>
